h1 {
  color:red;
  text-align: center;
}
 p
  {
    font-style: italic;
  }
p
  {
    font-weight: bold;
}
p
  {
    font-family: monospace;
  }
  p
    {
      font-size: 250%
    }
    p {
      line-height: 150%
    }
    img
    {
      float: right

    }
    li{
    }
